
@font-face {
    font-family: "tcc-regular";
    src: url(../fonts/TCCC-UnityText-Regular.ttf);
}

@font-face {
    font-family: "tcc-bold";
    src: url(../fonts/TCCC-UnityText-Bold.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "tcc-regular", "arial";
}

header {
    padding: 15px;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul#lista {
    display: flex;
    flex-flow: column nowrap;

    list-style-type: none;
}